
/vendor
!resources/views/vendor/
!resources/views/vendor/mail/
!resources/views/vendor/mail/*
!resources/views/vendor/mail/*/*

public/uploads/*
!public/uploads/avatars
public/uploads/avatars/*
!public/uploads/avatars/default.jpg
public/storage
public/webapp/vendor
public/webapp/vendor/*
public/webapp/js/constants.js

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

Homestead.json
Homestead.yaml
.env
.env.docs
.phpunit.result.cache
.DS_Store
.phpintel
.log
.scribe

npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant

/node_modules
dump.rdb
