/*
 * Bijenmonitor app
 *
 * Assets
 *
 */

.icn {
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: text-bottom;
	width: 16px;
	height: 16px;
}

.icn.settigs {
	background-image: url(/img/icn_settings.svg);
}
.icn.temperature {
	background-image:url(/img/icn_temp.svg);
}
.icn.humidity {
	background-image:url(/img/icn_rh.svg);
}
.icn.sound {
	background-image:url(/img/icn_sound.svg);
}
.icn.rainfall {
	background-image:url(/img/icn_rain.svg);
}
.icn.sun {
	background-image:url(/img/icn_sun.svg);
}
.icn.wind {
	background-image:url(/img/icn_wind.svg);
}
.icn.weight {
	background-image:url(/img/icn_weight.svg);
}
.icn.flight_activity {
	background-image:url(/img/icn_vliegactiviteit.svg);
}


.color-result {
	display:block;
	height:50px;
	width:100%;
	pointer-events:none;
	border-radius: 4px;
}

