/*
 * Bijenmonitor app
 *
 * Colors:
 * Brown:  #925F36;
 * Yellow: #F8BA31;
 */

* {
	outline:none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
}

svg { max-height: 200%; }

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
    -webkit-user-select: text;
    -webkit-appearance:none;
    appearance:none;
}

input[type="number"] {
	-webkit-appearence:input;
	appearence:input;
	box-shadow: none !important;
}

	
	::-webkit-input-placeholder {
    	color:rgba(117, 117, 117, 0.5);
	}
	::-moz-placeholder {
		color:rgba(117, 117, 117, 0.5);
	}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

html, body {
	width:100%;
	height:100%;	
	overflow:hidden;
}

body{
	color: #222222;
	width:100%;
	height:100%;
}

.bg {
	background:url(/img/bg_main.svg);
	background-size:cover;
	background-repeat: no-repeat;
	background-color: #fff;
}

.sensor-container {
	position: relative;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	height: 50%;
	min-height: 250px;
	max-height: 50%;
	overflow: auto;
}

.hive-container {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%;
	min-height: 250px;

	background:url(/img/kast.svg);
	background-size:contain;
	background-repeat: no-repeat;
	background-position: bottom center;

}
	.center-container{
		position: relative;
		width: 100%;
		height: 250px;
		text-align: center;
	}

	.inner-hive-container{
		position: absolute;
		margin: 0px;
		padding: 10px;
		top: 35%;
	    bottom: 38px;
	    left: 44px;
	    right: 63px;
	    overflow: hidden;
	}

	.sensor {
		list-style-type: none;
	}

.navbar-default .navbar-brand {
	color: #222222;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color: #222222;
}

.navbar-colored{
	background: rgba(248, 186, 49, 0.8)!important;
}

.panel-transparent {
        background: rgba(255, 255, 255, 0.8)!important;
    }

    .panel-transparent .panel-heading{
        background: rgba(255, 255, 255, 0.5)!important;
    }

    .panel-transparent .panel-body{
        background: rgba(255, 255, 255, 0.2)!important;
    }