openapi: 3.0.3
info:
  title: BEEP
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.beep.nl'
paths:
  /api/alerts:
    get:
      summary: "api/alerts GET\nList all user alerts that are not deleted."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer b543a6f1gaDPk6VedhZvEc8'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\AlertController
    post:
      summary: "api/alerts/{id} POST\nCreate the specified user alert."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer f6g4V5edDv31bhPaZckE8a6'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\AlertController
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                alert_rule_id:
                  type: integer
                  description: 'The alert rule that has been alerted for.'
                  example: 9
                measurement_id:
                  type: integer
                  description: 'The physical quantity / unit to alert for.'
                  example: 2
                alert_value:
                  type: string
                  description: 'The alert value.'
                  example: omnis
                show:
                  type: boolean
                  description: 'Set to false (0) if the alert should NOT be shown anymore.'
                  example: false
              required:
                - alert_rule_id
                - measurement_id
                - alert_value
  '/api/alerts/{id}':
    get:
      summary: "api/alerts/{id} GET\nDisplay the specified user alert."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer cfdPD856bvVk31ag6h4aeZE'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\AlertController
    put:
      summary: "api/alerts/{id} PATCH\nUpdate the specified user alert."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer hVP56EZbe6vf3aDk1a8d4cg'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\AlertController
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                show:
                  type: boolean
                  description: 'Set to false (0) if the alert should NOT be shown anymore.'
                  example: false
    delete:
      summary: "api/alerts/{id} DELETE\nDelete the specified user alert, or all if id === 'all', or specific id's when provided &alert_ids=1,4,7"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer fhD6vd4Eaka5ceP1Zb638gV'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\AlertController
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the alert.'
        example: 12
        required: true
        schema:
          type: integer
  /api/alert-rules:
    get:
      summary: "api/alert-rules GET\nList all user alert rules that are not deleted."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer chPkbDEf86aave3gd64V5Z1'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\AlertRuleController
    post:
      summary: "api/alert-rules/{id} POST\nCreate the specified user alert rule."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 3a8f6v5PZegVkdhD4ba6E1c'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\AlertRuleController
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the alert rule.'
                  example: unde
                description:
                  type: string
                  description: 'The description of the alert rule.'
                  example: ea
                measurement_id:
                  type: integer
                  description: 'The physical quantity / unit to alert for.'
                  example: 14
                calculation:
                  type: string
                  description: 'Calculation to be done with measurement value(s): (min, max, ave, der, cnt) -> Minimum, Maximum, Average (mean), Derivative, Count.'
                  example: suscipit
                comparator:
                  type: string
                  description: 'Logical comparator to perform with comparison calculation result and threshold_value (=, <, >, <=, >=).'
                  example: ex
                comparison:
                  type: string
                  description: 'Comparison function to perform with measurement value(s): (val, dif, abs, abs_dif) -> Value, Difference, Absolute value, Absolute value of the difference.'
                  example: pariatur
                threshold_value:
                  type: number
                  description: 'The threshold value beyond which the alert will be sent.'
                  example: 6574.72941
                calculation_minutes:
                  type: integer
                  description: 'The amount of minutes used for calculating the (min, max, ave, der, cnt) of the measurement value(s). If not provided, the last recorded value is used as a reference.'
                  example: 12
                alert_on_occurrences:
                  type: integer
                  description: 'Amount of occurences that a calculated value goed beyond the threshold_value. If not filled the standard is 1 (immediate alert).'
                  example: 12
                alert_via_email:
                  type: boolean
                  description: 'Set to false (0) if an e-mail should NOT be sent on alert. Default: true (1).'
                  example: true
                webhook_url:
                  type: string
                  description: 'URL of optional endpoint to call on alert for web hook integration.'
                  example: veritatis
                active:
                  type: boolean
                  description: 'Set to false (0) if the alert should NOT be active. Default: true (1).'
                  example: false
                exclude_months:
                  type: array
                  description: 'Array of month indexes (1-12). If not filled the standard alert is ''always on''.'
                  example:
                    - 1
                    - 2
                    - 3
                    - 11
                    - 12
                  items:
                    type: string
                exclude_hours:
                  type: array
                  description: 'Array of hour indexes (0-23). If not filled the standard alert is ''always on''.'
                  example:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 22
                    - 23
                  items:
                    type: string
                exclude_hive_ids:
                  type: array
                  description: 'Array of Hive ids. If not filled the standard alert is evaluated on ''all hives''.'
                  example:
                    - qui
                  items:
                    type: string
              required:
                - measurement_id
                - calculation
                - comparator
                - comparison
                - threshold_value
  '/api/alert-rules/{id}':
    get:
      summary: "api/alert-rules/{id} GET\nDisplay the specified user alert rules."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer hcE6ZfvPd4DVgk361ab8e5a'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\AlertRuleController
    put:
      summary: "api/alert-rules/{id} PATCH\nUpdate the specified user alert rule."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer fa4Eb6k56gcD3vVdZ8e1ahP'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\AlertRuleController
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the alert rule.'
                  example: ut
                description:
                  type: string
                  description: 'The description of the alert rule.'
                  example: est
                measurement_id:
                  type: integer
                  description: 'The physical quantity / unit to alert for.'
                  example: 19
                calculation:
                  type: string
                  description: 'Calculation to be done with measurement value(s): (min, max, ave, der, cnt) -> Minimum, Maximum, Average (mean), Derivative, Count.'
                  example: eius
                comparator:
                  type: string
                  description: 'Logical comparator to perform with comparison calculation result and threshold_value (=, <, >, <=, >=).'
                  example: dolorum
                comparison:
                  type: string
                  description: 'Comparison function to perform with measurement value(s): (val, dif, abs, abs_dif) -> Value, Difference, Absolute value, Absolute value of the difference.'
                  example: quas
                threshold_value:
                  type: number
                  description: 'The threshold value beyond which the alert will be sent.'
                  example: 10.322
                calculation_minutes:
                  type: integer
                  description: 'The amount of minutes used for calculating the (min, max, ave, der, cnt) of the measurement value(s). If not provided, the last recorded value is used as a reference.'
                  example: 6
                alert_on_occurrences:
                  type: integer
                  description: 'Amount of occurences that a calculated value goed beyond the threshold_value. If not filled the standard is 1 (immediate alert).'
                  example: 9
                alert_via_email:
                  type: boolean
                  description: 'Set to false (0) if an e-mail should NOT be sent on alert. Default: true (1).'
                  example: true
                webhook_url:
                  type: string
                  description: 'URL of optional endpoint to call on alert for web hook integration.'
                  example: suscipit
                active:
                  type: boolean
                  description: 'Set to false (0) if the alert should NOT be active. Default: true (1).'
                  example: false
                exclude_months:
                  type: array
                  description: 'Array of month indexes (1-12). If not filled the standard alert is ''always on''.'
                  example:
                    - 1
                    - 2
                    - 3
                    - 11
                    - 12
                  items:
                    type: string
                exclude_hours:
                  type: array
                  description: 'Array of hour indexes (0-23). If not filled the standard alert is ''always on''.'
                  example:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 22
                    - 23
                  items:
                    type: string
                exclude_hive_ids:
                  type: array
                  description: 'Array of Hive ids. If not filled the standard alert is evaluated on ''all hives''.'
                  example:
                    - fugiat
                  items:
                    type: string
              required:
                - measurement_id
                - calculation
                - comparator
                - comparison
                - threshold_value
    delete:
      summary: "api/alert-rules/{id} DELETE\nDelete the specified user alert rule."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 6hE583e6d1Pgcakab4VfZvD'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\AlertRuleController
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the alert rule.'
        example: illo
        required: true
        schema:
          type: string
  /api/alert-rules-default:
    get:
      summary: "api/alert-rules-default GET\nList all default alert rules that are available."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer V1ah5avb6346PEekDf8cgdZ'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\AlertRuleController
  /api/categories:
    get:
      summary: "api/categories\nDisplay a listing of the inspection categories."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer eVZhkad5fg6b68P3c4aD1vE'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    type: system
                    name: apiary
                    icon: null
                    source: null
                    required: 0
                    input: list
                    trans:
                      en: Apiary
                      nl: Bijenstand
                      de: Bienenstand
                      fr: Rucher
                      ro: Stupină
                      pt: Apiário
                      es: Apiario
                      da: Bigård
                    unit: null
                    children:
                      -
                        id: 2
                        type: '0'
                        name: name
                        icon: null
                        source: null
                        required: 0
                        input: text
                        trans:
                          en: Name
                          nl: Naam
                          de: Name
                          fr: Nom
                          ro: Nume
                          pt: Nome
                          es: Nombre
                          da: Navn
                        unit: null
                      -
                        id: 3
                        type: list
                        name: location
                        icon: null
                        source: null
                        required: 0
                        input: select_location
                        trans:
                          en: Location
                          nl: Locatie
                          de: Ort
                          fr: Lieux
                          ro: Locație
                          pt: Localização
                          es: Ubicación
                          da: Lokation
                        unit: null
                      -
                        id: 12
                        type: '1'
                        name: number_of_bee_colonies
                        icon: null
                        source: null
                        required: 0
                        input: number_positive
                        trans:
                          en: 'Number of bee colonies'
                          nl: 'Aantal bijenvolken'
                          de: 'Anzahl an Bienenvölkern'
                          fr: 'Nombre de colonies'
                          ro: 'Număr de colonii'
                          pt: 'Número de colónias'
                          es: 'Número de colonias de abejas melíferas'
                          da: 'Antal bifamilier'
                        unit: null
                      -
                        id: 13
                        type: list
                        name: orientation
                        icon: null
                        source: null
                        required: 0
                        input: options
                        trans:
                          en: Orientation
                          nl: Orientatie
                          de: Orientierung
                          fr: Orientation
                          ro: Orientare
                          pt: Orientação
                          es: Orientación
                          da: Retning
                        unit: null
                      -
                        id: 25
                        type: list
                        name: status
                        icon: null
                        source: null
                        required: 0
                        input: options
                        trans:
                          en: Status
                          nl: Status
                          de: Status
                          fr: Statut
                          ro: Stare
                          pt: Estado
                          es: Estado
                          da: Status
                        unit: null
                      -
                        id: 28
                        type: system
                        name: photo
                        icon: null
                        source: null
                        required: 0
                        input: image
                        trans:
                          en: Photo
                          nl: Foto
                          de: Foto
                          fr: Photo
                          ro: Poză
                          pt: Fotografia
                          es: Foto
                          da: Foto
                        unit: null
                      -
                        id: 913
                        type: null
                        name: can_be_removed
                        icon: null
                        source: null
                        required: 0
                        input: list
                        trans:
                          de: 'kann entfernt werden'
                          ro: 'poate fi înlăturat'
                          es: 'Puede ser removido'
                        unit: null
                      -
                        id: 932
                        type: checklist
                        name: type
                        icon: null
                        source: null
                        required: 0
                        input: select
                        trans:
                          en: Type
                          nl: Type
                          de: Typ
                          fr: type
                          ro: Tip
                          pt: Tipo
                          es: Tipo
                          da: Type
                        unit: null
                  -
                    id: 29
                    type: system
                    name: hive
                    icon: null
                    source: null
                    required: 0
                    input: list
                    trans:
                      en: Hive
                      nl: Kast
                      de: Beute
                      fr: Ruche
                      ro: Stup
                      pt: Colmeia
                      es: Colmena
                      da: Stade
                    unit: null
                    children:
                      -
                        id: 30
                        type: system
                        name: id
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: ID
                          nl: ID
                          de: ID
                          fr: ID
                          ro: ID
                          pt: ID
                          es: ID
                          da: ID
                        unit: null
                      -
                        id: 34
                        type: system
                        name: type
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Type
                          nl: Type
                          de: Typ
                          fr: type
                          ro: Tip
                          pt: Tipo
                          es: Tipo
                          da: Type
                        unit: null
                      -
                        id: 64
                        type: system
                        name: frame_size
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: 'Frame size'
                          nl: 'Raam afmetingen'
                          de: Rähmchengröße
                          fr: 'Taille des cadres'
                          ro: 'Dimensiune ramă'
                          pt: 'Tamanho do quadro'
                          es: 'Tamaño de marco'
                          da: Rammestørrelse
                        unit: null
                      -
                        id: 84
                        type: system
                        name: configuration
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Configuration
                          nl: Samenstelling
                          de: Konfiguration
                          fr: Configuration
                          ro: Configurație
                          pt: Configuração
                          es: Configuración
                          da: Opbygning
                        unit: null
                      -
                        id: 136
                        type: system
                        name: location
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Location
                          nl: Locatie
                          de: Ort
                          fr: Lieux
                          ro: Locație
                          pt: Localização
                          es: Ubicación
                          da: Lokation
                        unit: null
                      -
                        id: 614
                        type: checklist
                        name: weight
                        icon: null
                        source: null
                        required: 0
                        input: number_2_decimals
                        trans:
                          en: Weight
                          nl: Gewicht
                          de: Gewicht
                          fr: Poids
                          ro: Greutate
                          pt: Peso
                          es: Peso
                          da: Vægt
                        unit: kg
                      -
                        id: 795
                        type: system
                        name: photo
                        icon: null
                        source: null
                        required: 0
                        input: image
                        trans:
                          en: Photo
                          nl: Foto
                          de: Foto
                          fr: Photo
                          ro: Poză
                          pt: Fotografia
                          es: Foto
                          da: Foto
                        unit: null
                      -
                        id: 818
                        type: system
                        name: app
                        icon: null
                        source: null
                        required: 0
                        input: list
                        trans:
                          nl: App
                          en: App
                          de: App
                          fr: App
                          ro: Aplicație
                          pt: 'Aplicação (app)'
                          es: App
                          da: App
                        unit: null
                  -
                    id: 149
                    type: list
                    name: bee_colony
                    icon: null
                    source: null
                    required: 0
                    input: label
                    trans:
                      en: 'Bee colony'
                      nl: Bijenvolk
                      de: Bienenvolk
                      fr: Colonie
                      ro: 'Colonie de albine'
                      pt: Colónia
                      es: 'Colonia de abejas'
                      da: Bifamilie
                    unit: null
                    children:
                      -
                        id: 73
                        type: checklist
                        name: space
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Space
                          nl: Ruimte
                          de: Platz
                          fr: Espacement
                          ro: Spațiu
                          pt: Espaço
                          es: Espacio
                          da: Mellemrum
                        unit: null
                      -
                        id: 150
                        type: system
                        name: origin
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Origin
                          nl: Oorsprong
                          de: Ursprung
                          fr: Origine
                          ro: Origine
                          pt: Origem
                          es: Origen
                          da: Oprindelse
                        unit: null
                      -
                        id: 165
                        type: list
                        name: activity
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Activity
                          nl: Activiteit
                          de: Aktivität
                          fr: Activité
                          ro: Activitate
                          pt: Actividade
                          es: Actividad
                          da: Aktivitet
                        unit: null
                      -
                        id: 208
                        type: system
                        name: status
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Status
                          nl: Status
                          de: Status
                          fr: Statut
                          ro: Stare
                          pt: Estado
                          es: Estado
                          da: Status
                        unit: null
                      -
                        id: 213
                        type: list
                        name: characteristics
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Characteristics
                          nl: Eigenschappen
                          de: Charakteristiken
                          fr: Caracteristique
                          ro: Caracteristici
                          pt: Características
                          es: Características
                          da: Egenskaber
                        unit: null
                      -
                        id: 253
                        type: checklist
                        name: swarm_prevention
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: 'Swarm prevention'
                          nl: Zwermverhindering
                          de: Schwarmverhinderung
                          fr: 'Prévention de l''essaimage'
                          ro: 'Prevenirea roirii'
                          pt: 'Prevenção de enxameamento'
                          es: 'Prevención de enjambrazón'
                          da: Sværmehindring
                        unit: null
                      -
                        id: 263
                        type: list
                        name: brood
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Brood
                          nl: Broed
                          de: Brut
                          fr: Couvain
                          ro: Puiet
                          pt: Criação
                          es: Cría
                          da: Yngel
                        unit: null
                      -
                        id: 333
                        type: checklist
                        name: queen
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Queen
                          nl: Moer
                          de: Königin
                          fr: Reine
                          ro: Matcă
                          pt: Raínha
                          es: Reina
                          da: Dronning
                        unit: null
                      -
                        id: 442
                        type: list
                        name: drones
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Drones
                          nl: Darren
                          de: Drohnen
                          fr: Mâles
                          ro: Trântori
                          pt: Zangões
                          es: Zánganos
                          da: Droner
                        unit: null
                      -
                        id: 448
                        type: checklist
                        name: uniting_colonies
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: 'Uniting colonies'
                          nl: 'Volken samenvoegen'
                          de: Volksvereinigung
                          fr: 'Reunion de colonies'
                          ro: 'Unificare colonii'
                          pt: 'União de colónias'
                          es: 'Colmenas fusionadas'
                          da: 'Samling af bifamilier'
                        unit: null
                      -
                        id: 453
                        type: list
                        name: bees_added
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: 'Bees added'
                          nl: 'Bijen toegevoegd'
                          de: 'Bienen hinzugefügt'
                          fr: 'Ajout d''abeille'
                          ro: 'Albine adăugate'
                          pt: 'Abelhas adicionadas'
                          es: 'Abejas agregadas'
                          da: 'Bier tilføjet'
                        unit: null
                      -
                        id: 459
                        type: list
                        name: loss
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Loss
                          nl: Verlies
                          de: Verluste
                          fr: Perdu
                          ro: Pierderi
                          pt: Perdas
                          es: Pérdida
                          da: Tab
                        unit: null
                      -
                        id: 472
                        type: list
                        name: removal
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Removal
                          nl: Verwijdering
                          de: Entfernt
                          fr: Suppression
                          ro: Înlăturare
                          pt: Remoção
                          es: Remoción
                          da: Fjernelse
                        unit: null
                      -
                        id: 755
                        type: system
                        name: reminder
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          nl: Herinnnering
                          en: Reminder
                          de: Erinnerung
                          fr: Rappel
                          ro: 'Aducere aminte'
                          pt: Lembrete
                          es: Recordatorio
                          da: Påmindelse
                        unit: null
                      -
                        id: 771
                        type: checklist
                        name: size
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          nl: Grootte
                          en: Size
                          de: Größe
                          fr: Taille
                          ro: Mărime
                          pt: Tamanho
                          es: Tamaño
                          da: Størrelse
                        unit: null
                      -
                        id: 776
                        type: checklist
                        name: splitting_colony
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          nl: 'Volk splitsen'
                          en: 'Splitting colony'
                          de: 'Aufgeteiltes Volk'
                          fr: 'Division de colonie'
                          ro: 'Împărțirea coloniei'
                          pt: 'Colónia desdobrada'
                          es: 'División de colonia'
                          da: 'Opdeling af bifamilie'
                        unit: null
                      -
                        id: 867
                        type: system
                        name: purpose
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Purpose
                          nl: Doel
                          de: Zweck
                          fr: Raison
                          ro: Scop
                          pt: Propósito
                          es: Propósito
                          da: Formål
                        unit: null
                      -
                        id: 960
                        type: checklist
                        name: comb_replacement
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: 'Comb replacement'
                          nl: 'Raat vervanging'
                          de: Wabenerneuerung
                          fr: 'Remplacement de rayon'
                          ro: 'Înlocuirea fagurelui'
                          pt: 'Substituição de favos'
                          es: 'Reemplazo de panal'
                          da: Tavleudskiftning
                        unit: null
                  -
                    id: 475
                    type: list
                    name: food
                    icon: null
                    source: null
                    required: 0
                    input: label
                    trans:
                      en: Food
                      nl: Voedsel
                      de: Futter
                      fr: Nourriture
                      ro: Hrană
                      pt: Comida
                      es: Alimento
                      da: Føde
                    unit: null
                    children:
                      -
                        id: 476
                        type: checklist
                        name: feeding
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Feeding
                          nl: Bijvoeren
                          de: Fütterung
                          fr: Nourrissement
                          ro: Hrănire
                          pt: Alimentação
                          es: Alimentación
                          da: Fodring
                        unit: null
                      -
                        id: 493
                        type: checklist
                        name: stock
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Stock
                          nl: Voorraad
                          de: Vorrat
                          fr: Stock
                          ro: Stoc
                          pt: Stock
                          es: Stock
                          da: Lager
                        unit: null
                      -
                        id: 500
                        type: list
                        name: forage
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Forage
                          nl: Dracht
                          de: Futter
                          fr: Butinage
                          ro: Cules
                          pt: Forrageamento
                          es: Forraje
                        unit: null
                      -
                        id: 891
                        type: checklist
                        name: water
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Water
                          nl: Water
                          de: Wasser
                          fr: Eau
                          ro: Apă
                          pt: Água
                          es: Agua
                          da: Vand
                        unit: null
                  -
                    id: 513
                    type: list
                    name: disorder
                    icon: null
                    source: null
                    required: 0
                    input: label
                    trans:
                      en: Disorder
                      nl: Aandoening
                      de: Störung
                      fr: Problème
                      ro: Boală
                      pt: Problemas
                      es: Problema
                      da: Sygdom
                    unit: null
                    children:
                      -
                        id: 514
                        type: list
                        name: type
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Type
                          nl: Type
                          de: Typ
                          fr: type
                          ro: Tip
                          pt: Tipo
                          es: Tipo
                          da: Type
                        unit: null
                      -
                        id: 582
                        type: list
                        name: severity
                        icon: null
                        source: null
                        required: 0
                        input: score_amount
                        trans:
                          en: Severity
                          nl: Ernst
                          de: Schweregrad
                          fr: Sévérité
                          ro: Severitate
                          pt: Severidade
                          da: Alvorlighed
                        unit: null
                      -
                        id: 589
                        type: checklist
                        name: laboratory_test
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: 'Laboratory test'
                          nl: 'Laboratorium test'
                          de: Labortest
                          fr: 'Test laboratoire'
                          ro: 'Test de laborator'
                          pt: 'Teste laboratorial'
                          es: 'Test de laboratorio'
                          da: Laboratorietest
                        unit: null
                      -
                        id: 594
                        type: list
                        name: treatment
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Treatment
                          nl: Behandeling
                          de: Behandlung
                          fr: Traitement
                          ro: Tratament
                          pt: Tratamento
                          es: Tratamiento
                          da: Behandling
                        unit: null
                      -
                        id: 830
                        type: checklist
                        name: varroa
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Varroa
                          nl: Varroa
                          de: Varoa
                          fr: Varroa
                          ro: Varroa
                          pt: Varroa
                          es: Varroa
                          da: Varroa
                        unit: null
                  -
                    id: 612
                    type: checklist
                    name: weather
                    icon: null
                    source: null
                    required: 0
                    input: label
                    trans:
                      en: Weather
                      nl: Weer
                      de: Wetter
                      fr: Météo
                      ro: Vreme
                      pt: Clima
                      es: 'Tiempo atmosférico'
                      da: Vejr
                    unit: null
                    children:
                      -
                        id: 615
                        type: checklist
                        name: ambient_temperature
                        icon: null
                        source: null
                        required: 0
                        input: number
                        trans:
                          en: 'Ambient temperature'
                          nl: Omgevingstemperatuur
                          de: Umgebungstemperatur
                          fr: 'Température ambiante'
                          ro: 'Temperatura ambientală'
                          pt: 'Temperatura ambiente'
                          es: 'Temperatura ambiental'
                          da: Omgivelsestemperatur
                        unit: °C
                      -
                        id: 620
                        type: checklist
                        name: humidity
                        icon: null
                        source: null
                        required: 0
                        input: number_percentage
                        trans:
                          en: Humidity
                          nl: Luchtvochtigheid
                          de: Feuchtigkeit
                          fr: Humidité
                          ro: Umiditate
                          pt: Humidade
                          es: Humedad
                          da: Fugtighed
                        unit: '%'
                      -
                        id: 621
                        type: checklist
                        name: cloud_cover
                        icon: null
                        source: null
                        required: 0
                        input: options
                        trans:
                          en: 'Cloud cover'
                          nl: Wolken
                          de: Wolkendecke
                          fr: 'Couverture nuageuse'
                          ro: Nebulozitate
                          pt: Nebulosidade
                          es: 'Cubierto de nubes'
                          da: Skydække
                        unit: null
                      -
                        id: 628
                        type: checklist
                        name: wind
                        icon: null
                        source: null
                        required: 0
                        input: number
                        trans:
                          en: Wind
                          nl: Wind
                          de: Wind
                          fr: Vent
                          ro: Vânt
                          pt: Vento
                          es: Viento
                          da: Vind
                        unit: bft
                      -
                        id: 629
                        type: checklist
                        name: precipitation
                        icon: null
                        source: null
                        required: 0
                        input: number_positive
                        trans:
                          en: Precipitation
                          nl: Neerslag
                          de: Niederschlag
                          fr: Précipitation
                          ro: Precipitații
                          pt: Precipitação
                          es: Precipitación
                          da: Nedbør
                        unit: mm
                  -
                    id: 658
                    type: system
                    name: beekeeper
                    icon: null
                    source: null
                    required: 0
                    input: list
                    trans:
                      en: Beekeeper
                      nl: Imker
                      de: Imker
                      fr: Apiculteur
                      ro: Apicultor
                      pt: Apicultor
                      es: Apicultor(a)
                      da: Biavler
                    unit: null
                    children:
                      -
                        id: 659
                        type: '0'
                        name: name
                        icon: null
                        source: null
                        required: 0
                        input: boolean
                        trans:
                          en: Name
                          nl: Naam
                          de: Name
                          fr: Nom
                          ro: Nume
                          pt: Nome
                          es: Nombre
                          da: Navn
                        unit: null
                      -
                        id: 660
                        type: list
                        name: location
                        icon: null
                        source: null
                        required: 0
                        input: select_location
                        trans:
                          en: Location
                          nl: Locatie
                          de: Ort
                          fr: Lieux
                          ro: Locație
                          pt: Localização
                          es: Ubicación
                          da: Lokation
                        unit: null
                      -
                        id: 666
                        type: '1'
                        name: telephone
                        icon: null
                        source: null
                        required: 0
                        input: list_item
                        trans:
                          en: Telephone
                          nl: Telefoon
                          de: Telefon
                          fr: Telephone
                          ro: Telefon
                          pt: Telefone
                          es: Teléfono
                          da: Telefon
                        unit: null
                      -
                        id: 667
                        type: '2'
                        name: email
                        icon: null
                        source: null
                        required: 0
                        input: list_item
                        trans:
                          en: Email
                          nl: Email
                          de: Email
                          fr: Email
                          ro: Email
                          pt: Email
                          es: Email
                          da: Email
                        unit: null
                      -
                        id: 668
                        type: '3'
                        name: date_of_birth
                        icon: null
                        source: null
                        required: 0
                        input: date
                        trans:
                          en: 'Date of birth'
                          nl: Geboortedatum
                          de: Geburtsdatum
                          fr: 'Date de naissance'
                          ro: 'Data nașterii'
                          pt: 'Data de nascimento'
                          es: 'Fecha de Nacimiento'
                          da: Fødselsdato
                        unit: null
                      -
                        id: 669
                        type: '4'
                        name: gender
                        icon: null
                        source: null
                        required: 0
                        input: list_item
                        trans:
                          en: Gender
                          nl: Geslacht
                          de: Geschlecht
                          fr: Genre
                          ro: Gen
                          pt: Género
                          es: Género
                          da: Køn
                        unit: null
                      -
                        id: 670
                        type: list
                        name: beekeeper_since
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: 'Beekeeper since'
                          nl: 'Imker sinds'
                          de: 'Imker seit'
                          fr: 'Apiculteur depuis'
                          ro: 'Apicultor din'
                          pt: 'Apicultor desde'
                          es: 'Apicultor desde'
                          da: 'Biavler siden'
                        unit: null
                      -
                        id: 672
                        type: '5'
                        name: beekeeper_id
                        icon: null
                        source: null
                        required: 0
                        input: text
                        trans:
                          en: 'Beekeeper ID'
                          nl: 'Imker ID'
                          de: 'Imker ID'
                          fr: 'ID apiculteur'
                          ro: 'ID apicultor'
                          pt: 'Número de apicultor'
                          es: 'ID Apicultor'
                          da: 'Biavler ID'
                        unit: null
                      -
                        id: 673
                        type: list
                        name: company
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Company
                          nl: Bedrijf
                          de: Betrieb
                          fr: Société
                          ro: Companie
                          pt: Empresa
                          es: Compañía/Empresa
                          da: Firma
                        unit: null
                      -
                        id: 680
                        type: list
                        name: method
                        icon: null
                        source: null
                        required: 0
                        input: options
                        trans:
                          en: Method
                          nl: Methode
                          de: Methode
                          fr: Méthode
                          ro: Metodă
                          pt: Método
                          es: Método
                          da: Metode
                        unit: null
                      -
                        id: 688
                        type: list
                        name: role
                        icon: null
                        source: null
                        required: 0
                        input: options
                        trans:
                          en: Role
                          nl: Rol
                          fr: Rôle
                          ro: Rol
                          pt: Papel
                          es: Rol
                          da: Rolle
                        unit: null
                      -
                        id: 691
                        type: system
                        name: photo
                        icon: null
                        source: null
                        required: 0
                        input: list_item
                        trans:
                          en: Photo
                          nl: Foto
                          de: Foto
                          fr: Photo
                          ro: Poză
                          pt: Fotografia
                          es: Foto
                          da: Foto
                        unit: null
                      -
                        id: 692
                        type: list
                        name: inspection_role
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: 'Inspection role'
                          nl: 'Inspectie rol'
                          fr: 'Rôle d''inspection'
                          ro: 'Scopul inspecției'
                          pt: Inspecção
                          es: 'Rol durante la inspección'
                        unit: null
                  -
                    id: 698
                    type: list
                    name: production
                    icon: null
                    source: null
                    required: 0
                    input: label
                    trans:
                      en: Production
                      nl: Productie
                      de: Produktion
                      fr: Production
                      ro: Producție
                      pt: Produção
                      es: Producción
                      da: Produktion
                    unit: null
                    children:
                      -
                        id: 851
                        type: checklist
                        name: honey
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Honey
                          nl: Honing
                          de: Honig
                          fr: Miel
                          ro: Miere
                          pt: Mel
                          es: Miel
                          da: Honning
                        unit: null
                      -
                        id: 852
                        type: checklist
                        name: other
                        icon: null
                        source: null
                        required: 0
                        input: label
                        trans:
                          en: Other
                          nl: Andere
                          de: andere
                          fr: Autre
                          ro: Alte
                          pt: Outros
                          es: Otro
                          da: Andet
                        unit: null
      tags:
        - Api\CategoryController
  '/api/categories/{id}':
    get:
      summary: "api/categories/{id}\nDisplay the specified category."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer bP6h3aEcd1V5fvDZ6a4gek8'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\CategoryController
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the category.'
        example: 1
        required: true
        schema:
          type: integer
  /api/categoryinputs:
    get:
      summary: "api/categoryinputs\nList of all available input types of the inspection categories"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer Za864PhdgeaDEV15b3cfvk6'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    name: List
                    type: list
                    min: null
                    max: null
                    decimals: null
                  -
                    id: 2
                    name: 'List item'
                    type: list_item
                    min: null
                    max: null
                    decimals: null
                  -
                    id: 3
                    name: 'Boolean (yes = green)'
                    type: boolean
                    min: null
                    max: null
                    decimals: null
      tags:
        - Api\CategoryController
  /api/checklists:
    get:
      summary: 'Display a listing of the resource.'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer dcDbh8ZPk654Ea3Vv1faeg6'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\ChecklistController
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer g8d5Db6vEfak4cP6eZh1V3a'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\ChecklistController
  '/api/checklists/{id}':
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 8Vka5egbP4c6ahvf1ZED63d'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\ChecklistController
    put:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer Pahb3EZf56eVdD6akg148cv'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\ChecklistController
    delete:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 8eaZPgc66db3fk4vEahV1D5'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\ChecklistController
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the checklist.'
        example: 11
        required: true
        schema:
          type: integer
  /api/devices/multiple:
    post:
      summary: "api/devices/multiple POST\nStore/update multiple Devices in an array of Device objects"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 65hvPag86bkEaDde4cV13Zf'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\DeviceController
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'Device id to update. (Required without key and hardware_id)'
                  example: 15
                key:
                  type: string
                  description: 'DEV EUI of the sensor to enable storing sensor data incoming on the api/sensors or api/lora_sensors endpoint. (Required without id and hardware_id)'
                  example: et
                hardware_id:
                  type: string
                  description: 'Hardware id of the device as device name in TTN. (Required without id and key)'
                  example: dolores
                name:
                  type: string
                  description: 'Device name'
                  example: eos
                hive_id:
                  type: integer
                  description: 'Hive that the sensor is measuring. Default: null'
                  example: 13
                type:
                  type: string
                  description: 'Category name of the hive type from the Categories table. Default: beep'
                  example: iste
                last_message_received:
                  type: timestamp
                  description: 'Will be converted with date(''Y-m-d H:i:s'', $last_message_received); before storing'
                  example: et
                firmware_version:
                  type: string
                  description: 'Firmware version of the Device'
                  example: quibusdam
                hardware_version:
                  type: string
                  description: 'Hardware version of the Device'
                  example: incidunt
                boot_count:
                  type: integer
                  description: 'Amount of boots of the Device'
                  example: 11
                measurement_interval_min:
                  type: number
                  description: 'Measurement interval in minutes'
                  example: 2151.5343
                measurement_transmission_ratio:
                  type: number
                  description: 'Measurements ratio of non-transmitted vs transmitted messages. If 0 or 1, every measurement gets transmitted.'
                  example: 542406.1
                ble_pin:
                  type: string
                  description: 'Bleutooth PIN of Device: 6 numbers between 0-9'
                  example: incidunt
                battery_voltage:
                  type: number
                  description: 'Last measured battery voltage'
                  example: 188.3714353
                next_downlink_message:
                  type: string
                  description: 'Hex string to send via downlink at next connection (LoRaWAN port 6)'
                  example: totam
                last_downlink_result:
                  type: string
                  description: 'Result received from BEEP base after downlink message (LoRaWAN port 5)'
                  example: exercitationem
  '/api/devices/ttn/{dev_id}':
    get:
      summary: "api/devices/ttn/{dev_id} GET\nGet a BEEP TTS Cloud Device by Device ID (BEEP hardware_id)"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer f3e1Vha6cPdv6D5bak4g8EZ'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\DeviceController
    post:
      summary: "api/devices/ttn/{dev_id} POST\nCreate a BEEP TTS Cloud Device by Device ID, lorawan_device.dev_eui, and lorawan_device.app_key"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer kcaE4ZeVP1653Dadbvg68hf'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\DeviceController
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                lorawan_device:
                  type: object
                  description: ''
                  example: []
                  properties:
                    dev_eui:
                      type: string
                      description: 'value moet 16 karakters lang zijn.'
                      example: vbwertiqmccvqudh
                    app_key:
                      type: string
                      description: 'value moet 32 karakters lang zijn.'
                      example: yldwyybaokbniyrsjvbyvdcnwhwmhtui
    parameters:
      -
        in: path
        name: dev_id
        description: 'The ID of the dev.'
        example: accusamus
        required: true
        schema:
          type: string
  /api/devices:
    get:
      summary: "api/devices GET\nList all user Devices"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer D5feVd3hv461bgaEkP8Zc6a'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 1
                    hive_id: 2
                    name: BEEPBASE-0000
                    key: '000000000000000'
                    created_at: '2020-01-22 09:43:03'
                    last_message_received: null
                    hardware_id: null
                    firmware_version: null
                    hardware_version: null
                    boot_count: null
                    measurement_interval_min: null
                    measurement_transmission_ratio: null
                    ble_pin: null
                    battery_voltage: null
                    next_downlink_message: null
                    last_downlink_result: null
                    type: beep
                    hive_name: 'Hive 2'
                    location_name: 'Test stand 1'
                    owner: true
                    sensor_definitions:
                      -
                        id: 7
                        name: null
                        inside: null
                        offset: 8131
                        multiplier: null
                        input_measurement_id: 7
                        output_measurement_id: 20
                        device_id: 1
                        input_abbr: w_v
                        output_abbr: weight_kg
      tags:
        - Api\DeviceController
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                hardware_id:
                  type: string
                  description: 'Provide to filter on hardware_id'
                  example: tempora
    post:
      summary: "api/devices POST\nCreate or Update a Device"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 5edkaPgZh66E4c8v3afDV1b'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\DeviceController
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'Device id to update. (Required without key and hardware_id)'
                  example: 4
                key:
                  type: string
                  description: 'DEV EUI of the sensor to enable storing sensor data incoming on the api/sensors or api/lora_sensors endpoint. (Required without id and hardware_id)'
                  example: aut
                hardware_id:
                  type: string
                  description: 'Hardware id of the device as device name in TTN. (Required without id and key)'
                  example: sint
                name:
                  type: string
                  description: 'Device name'
                  example: incidunt
                hive_id:
                  type: integer
                  description: 'Hive that the sensor is measuring. Default: null'
                  example: 17
                type:
                  type: string
                  description: 'Category name of the hive type from the Categories table. Default: beep'
                  example: quia
                last_message_received:
                  type: timestamp
                  description: 'Will be converted with date(''Y-m-d H:i:s'', $last_message_received); before storing'
                  example: ad
                firmware_version:
                  type: string
                  description: 'Firmware version of the Device'
                  example: saepe
                hardware_version:
                  type: string
                  description: 'Hardware version of the Device'
                  example: id
                boot_count:
                  type: integer
                  description: 'Amount of boots of the Device'
                  example: 19
                measurement_interval_min:
                  type: number
                  description: 'Measurement interval in minutes'
                  example: 3.09777115
                measurement_transmission_ratio:
                  type: number
                  description: 'Measurements ratio of non-transmitted vs transmitted messages. If 0 or 1, every measurement gets transmitted.'
                  example: 4.41
                ble_pin:
                  type: string
                  description: 'Bleutooth PIN of Device: 6 numbers between 0-9'
                  example: consequuntur
                battery_voltage:
                  type: number
                  description: 'Last measured battery voltage'
                  example: 285632907.2
                next_downlink_message:
                  type: string
                  description: 'Hex string to send via downlink at next connection (LoRaWAN port 6)'
                  example: sint
                last_downlink_result:
                  type: string
                  description: 'Result received from BEEP base after downlink message (LoRaWAN port 5)'
                  example: non
                create_ttn_device:
                  type: boolean
                  description: 'If true, create a new LoRaWAN device in the BEEP TTN console. If succesfull, create the device.'
                  example: true
                app_key:
                  type: string
                  description: 'BEEP base LoRaWAN application key that you would like to store in TTN'
                  example: asperiores
  '/api/devices/{id}':
    get:
      summary: "api/devices/{id} GET\nList one Device by id"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer 4hZ6a16cbe3kdfgaV5PEvD8'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\DeviceController
    put:
      summary: "api/devices PUT/PATCH\nUpdate an existing Device"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer h8aPcVgeb5a6k3v1EDZd6f4'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\DeviceController
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'Device id to update. (Required without key and hardware_id)'
                  example: 16
                key:
                  type: string
                  description: 'DEV EUI of the sensor to enable storing sensor data incoming on the api/sensors or api/lora_sensors endpoint. (Required without id and hardware_id)'
                  example: architecto
                hardware_id:
                  type: string
                  description: 'Hardware id of the device as device name in TTN. (Required without id and key)'
                  example: ut
                name:
                  type: string
                  description: 'Name of the sensor'
                  example: quam
                hive_id:
                  type: integer
                  description: 'Hive that the sensor is measuring. Default: null'
                  example: 1
                type:
                  type: string
                  description: 'Category name of the hive type from the Categories table. Default: beep'
                  example: quam
                delete:
                  type: boolean
                  description: 'If true delete the sensor and all it''s data in the Influx database'
                  example: true
                last_message_received:
                  type: timestamp
                  description: 'Will be converted with date(''Y-m-d H:i:s'', $last_message_received); before storing'
                  example: voluptatibus
                firmware_version:
                  type: string
                  description: 'Firmware version of the Device'
                  example: earum
                hardware_version:
                  type: string
                  description: 'Hardware version of the Device'
                  example: enim
                boot_count:
                  type: integer
                  description: 'Amount of boots of the Device'
                  example: 18
                measurement_interval_min:
                  type: number
                  description: 'Measurement interval in minutes'
                  example: 59104180.11
                measurement_transmission_ratio:
                  type: number
                  description: 'Measurements ratio of non-transmitted vs transmitted messages. If 0 or 1, every measurement gets transmitted.'
                  example: 372806.7125864
                ble_pin:
                  type: string
                  description: 'Bleutooth PIN of Device: 6 numbers between 0-9'
                  example: quod
                battery_voltage:
                  type: number
                  description: 'Last measured battery voltage'
                  example: 70761.8
                next_downlink_message:
                  type: string
                  description: 'Hex string to send via downlink at next connection (LoRaWAN port 6)'
                  example: aut
                last_downlink_result:
                  type: string
                  description: 'Result received from BEEP base after downlink message (LoRaWAN port 5)'
                  example: omnis
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the device.'
        example: 4
        required: true
        schema:
          type: integer
  /api/export/csv:
    post:
      summary: "api/export/csv POST\nGenerate a CSV measurement data export from InfluxDB. Make sure not to load a too large timespan (i.e. > 30 days), because the call will not succeed due to memory overload."
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer EbPe4836kgvZf5V6a1cDdah'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Api\ExportController
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: required
                  description: 'Device id to download data from'
                  example: illum
                start:
                  type: date
                  description: 'Date for start of data export.'
                  example: '2020-05-27 16:16'
                end:
                  type: date
                  description: 'Date for end of data export.'
                  example: '2020-05-30 00:00'
                separator:
                  type: string
                  description: 'Symbol that should be used to separate columns in CSV file.'
                  example: ;
                measurements:
                  type: string
                  description: 'Comma separated list of measurement types to load. If you want a lot of data (i.e. > 30 days), make sure not to load more than one measurement.'
                  example: '''am2315_t,am2315_h,mhz_co2'''
                link:
                  type: boolean
                  description: 'filled means: save the export to a file and provide the link, not filled means: output a text/html header with text containing the .csv content. Example:'
                  example: false
              required:
                - start
                - end
  /api/export:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer vPd3be4ghVaEk1a6f86cDZ5'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\ExportController
  /api/flashlogs:
    get:
      summary: "api/flashlogs GET\nProvide a list of the available flashlogs"
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer dZebVca6PEaD4563v1hkg8f'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\FlashLogController
  '/api/flashlogs/{id}':
    get:
      summary: "api/flashlogs/{id} GET\nProvide the contents of the log_file_parsed property of the flashlog"
      description: ''
      parameters:
        -
          in: query
          name: id
          description: 'Flashlog ID to parse'
          example: 1
          required: true
          schema:
            type: integer
            description: 'Flashlog ID to parse'
            example: 1
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer PZha681Vv3DdE4ebka5gcf6'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Api\FlashLogController
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                matches_min:
                  type: integer
                  description: 'Flashlog minimum amount of inline measurements that should be matched. Default: 5.'
                  example: 2
                match_props:
                  type: integer
                  description: 'Flashlog minimum amount of measurement properties that should match. Default: 9.'
                  example: 7
                db_records:
                  type: integer
                  description: 'Flashlog minimum amount of inline measurements that should be matched. Default: 80.'
                  example: 15
                block_id:
                  type: integer
                  description: 'Flashlog block index to get both Flashlog as database data from.'
                  example: 1
                block_data_index:
                  type: integer
                  description: 'Flashlog data index to get both Flashlog as database data from.'
                  example: 0
                data_minutes:
                  type: integer
                  description: 'Flashlog data amount of minutes to show data from. Default: 10080 (1 week).'
                  example: 9
                from_cache:
                  type: boolean
                  description: 'get Flashlog parse result from cache (24 hours). Default: true.'
                  example: false
                save_result:
                  type: boolean
                  description: 'Flashlog save the parsed result as new log_file_parsed. Default: false.'
[...]
