.measurement-form{
	text-align: center;
	width: 100%;
    padding-bottom: 20px;
}

	.measurement-form h2{
		float: none;
	}

.measurement-form .tab-bar-wrapper{
	display: flex;
    display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:center;
	margin: 10px;
	margin-bottom: 10px;
}

	.measurement-form .tab-bar-wrapper .icn{
		margin-bottom: 10px;
	}

	.measurement-form .tab-bar-wrapper menu.tab-bar{
		flex: 1 1 auto;
		-webkit-flex: 1 1 auto;
		width: 100%;
	}


	.measurement-form .tab-bar-wrapper menu.tab-bar{
	    -webkit-padding-start: 0px;
	    overflow: hidden;
	    margin: 0px;
	    padding: 0px;
	    font-size: 0px;
	    display: flex;
	    display: -webkit-flex;
	    align-items: center;
	    -webkit-align-items: center;
	    height: 50px;
	}

	.measurement-form .tab-bar-wrapper menu.tab-bar .btn {
	    display: inline-block;
	    width: 100%;
	    margin: 0px;
	    height: 35px;
	    border: 1px solid #666;
	    border-radius: 0px;
	    border-right: none;
	    padding: 9px 12px;
	    color: #333;
	    background-color: #EEE;
	    min-width: 80px;
	    font-size: 15px;
	    text-decoration: none;
	    line-height: 15px;
	    text-align: center;
	    cursor: pointer;
	}
		.measurement-form .tab-bar-wrapper .date-nav {
			width: 100%;
			margin-top: 10px; 
			margin-bottom: 10px;
			display: flex;
		    display: -webkit-flex;
			flex-wrap: nowrap;
			-webkit-flex-wrap: nowrap;
			flex: 1 1 auto;
			-webkit-flex: 1 1 auto;
			justify-content:center;
			-webkit-justify-content:center;
			align-items: center;
		}
			.measurement-form .tab-bar-wrapper .date-nav h3{
				margin: 0;
			}
			.measurement-form .tab-bar-wrapper .date-nav .icn{
				margin-bottom: 0;
			}
			.measurement-form .tab-bar-wrapper.mobile{
				margin: 5px;
			}
				.measurement-form .tab-bar-wrapper.mobile menu.tab-bar .btn {
					min-width: 28px;
					font-size: 13px;
				}
				.measurement-form .tab-bar-wrapper.mobile .date-nav h3{
					font-size: 15px;
				}

	.measurement-form .tab-bar-wrapper menu.tab-bar .btn:first-child {
	    border-radius: 10px 0px 0px 10px;
	}

	.measurement-form .tab-bar-wrapper menu.tab-bar .btn:last-child {
	    border-radius: 0px 10px 10px 0px;
	    border-right: 1px solid #666;
	}

	.measurement-form .tab-bar-wrapper menu.tab-bar a.active{
		background-color: #F8B133;
		color: #FFF;
	}


	.measurement-form .btn.prev, .measurement-form .btn.next{
		width: auto;
		min-width: 100px;
		height: 34px;
		margin-top: 9px;
		margin-bottom: 9px;
		background-color: #E8003F;
		background-size: 20px;
		background-position: center;
	}
		.measurement-form a.btn.disabled{
			opacity: 0.3;
		}

	.measurement-info-wrapper{
		width: 100%;
	    display: block;
	    background: #FFF;
	    padding: 0px;
	    text-align: center;
	}

		.chart-holder{
			display: block;
			position: relative;
			width: 100%;
			padding-bottom: 20px;
			overflow: hidden;
			min-height: 200px;
	   		height: 40vh;
		}
			.chart-narrow{
				max-height: 200px;
				height: 200px;
			}

		/* Due to no axes */
		.chart-holder.actuators{
			padding-left: 18px;
			padding-right: 28px;
			height: 200px;
		}

			.chart-holder .chart{
				position: relative;
				overflow: hidden;
				width: 100%;
			}


	@media screen and (max-width: 740px){
		.show-when-small{
			display: inline-block;		
		}
		.hide-when-small{
			display: none;	
		}
		.measurement-form .tab-bar-wrapper menu.tab-bar{
			max-width: 100%;
		}
	}
	@media screen and (min-width: 740px){
		.show-when-small{
			display: none;	
		}
		.hide-when-small{
			display: inline-block;	
		}
	}