header.main {
	padding-top:15px;
}


header.view-header {
	background: initial;
	left: 0px;
	right: 0px;
	pointer-events: none;
	height:55px;
}

	header.view-header menu.tab-bar {
		pointer-events: initial;
		margin-top:3px;
	}

		header.view-header menu.tab-bar .btn {
			font-size: 13px;
			line-height: 20px;
			padding: 6px 16px;
		}



header.view-header > h1 {
	align-self: center;
	padding-top: 0px;
}

.view-content {
	overflow: hidden;
}








.footer-mobile {
	padding: 3px 3px 1px 0px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	z-index: 10000;
	display: flex;
	display: -webkit-flex;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom: 1px solid #ECECED;
}

.footer-mobile .btn.icon-btn {
	box-shadow: none;
    width:auto;
    height: 40px;
    font-size: 11px;
    text-indent:0px;
    color: #666;
    padding:12px 13px 7px 27px;
    background-repeat: no-repeat;
    background-size:15px;
    background-position: 6px center;
    background-color:transparent;
    position:relative;
    border-radius:0px;
}

.footer-mobile .btn.icon-btn::after {
	background:#ECECED;
	width:calc(100% + 38px);
	display:block;
	float:none;
	margin:0px;
	height:25px;
	border-radius:10px;
	margin-top:-20px;
	margin-left:-27px;
	background-position:7px center;
	background-repeat:no-repeat;
	background-size:15px;
}

	.main-status {
		/* width: 130px; */
	}

	.footer-mobile .main-status {
		margin: 0px;
		padding: 0px;
		height: 40px;
		width: 90px;
		vertical-align: middle;
		line-height: 10px;
		padding: 8px 0px 0px 39px;
		position: relative;
	}

		.main-status .connection-icon {
			font-size: 10px;
			margin-bottom: 3px;
		}

		.footer-mobile .main-status .connection-icon::before {
		    width: 40px;
		    height: 40px;
		    background-size: 22px;
		    position: absolute;
		    left: 0px;
		    top: 0px;
		    background-position: center 8px;
		}



.btn-group-mobile {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	align-items: center;
	-webkit-align-items: center;
}


.btn {
	margin: 0px;
}


.popup > header {
	background: #FFF;
    padding: 15px 0px 0px;
    height: 71px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border-radius: 0px;
}

	.popup > header h1 {
		color: inherit;
		padding-top: 15px;
		font-size: 19px;
	}

		.popup > header.has-tools  h1 {
			padding-top: 25px;
			position: absolute;
		    width: 100%;
		    margin: 0px;
		    top: 70px;
		    left:0px;
		    right:0px;
		    /* color: #fff; */
		}


.btn.icon-btn.next, 
.btn.icon-btn.prev {
    position: absolute;
    top: 50%;
}

	.btn.icon-btn.prev {
		left: 5px;
	}
	.btn.icon-btn.next {
		right: 5px;
	}

nav.main ul {
	border-bottom: none; 
}

	nav.main ul li:last-child {
		border-bottom: none;
	}

/*

	nav.main ul li a {
	    background-position: center 60px;
	    padding-top: 110px;
	}

header.view-header > h1 {
	display: none;
}

*/

header.main menu .btn.menu-btn {
	width: 45px;
    background-position: 7px center;
}

	header.main menu .btn.menu-btn.back {
		padding-left:0px;
		background-position:15px center;
	}




.main-status {
    margin-right: 0px;
    font-size: 12px;
    width: 100px;
}


/*		dashboard		*/
section.detail.sensors .content {
	padding-top: 2%;
}

section.detail.sensors .content ul > li{
	display: inline-block;
	width: 105px;
	margin: 0;
	margin-right: 10px;
	padding: 2%;
	background-color: transparent;
	border-radius: 0;
	font-size: 16px;
	min-height: 20px;
}

	section.detail.sensors .content ul > li span.name{
		display: none;
	}

	section.detail.sensors .content ul > li span.value{
		width: auto;
		margin: 0;
	}

	section.detail.sensors .content ul > li span.unit{
		font-size: 12px;
	}


			.hive-content .measurement span.name{
				width: calc( 100% - 120px );
				font-size: 14px;
			} 


			.hive-content .measurement span.value{
				width: 50px;
			} 

			.hive-content .measurement span.unit{
				width: 30px;
				font-size: 12px;
			} 


	form.user-form .btn {
		pointer-events: all;
	}

	.ngdialog .ngdialog-close {
		font-weight:bold;
		right:10px;
		position:absolute;
		display:block;
		width:40px;
		height:40px;
		top:0px;
	}
		.ngdialog .ngdialog-close:before {
			font-size:40px;
			margin-left:8px;
			margin-bottom:10px;
			color:#FFF;
			line-height: inherit;
			text-align: left;

			width: 40px;
			height: 40px;
		}

#scroll-wrapper {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

	#settings-form-wrapper, #kweecker-form-wrapper {
		height: auto;
	}


.detail-wrapper {
	height: 100%;
}

		.detail-wrapper .content-flexible{
			position: absolute;
			display: block;
			height: calc( 100% - 310px );
			max-height: 50%;
			width: 100%;
			margin-bottom: 10px;
			padding: 20px;
		}


		.detail-wrapper .content-fixed {
			position: absolute;
			bottom: 0px;
			display: block;
			width: 100%;
			height: 310px;
			align-items: center;
		}

		.hive{
			min-width: auto;
			min-height: auto;
		}

		.hive .hive-content{
			max-width: 190px;
			font-size: 18px;
		}
			.hive-content .measurement{
				top: 19%;
			}

			.hive-content .chart-holder{
				height: 45%;
				bottom: 10%;
			}


figure.main-loading {
	margin:0px;
	padding:0px;
	background:url(/img/ipad_splash.png);
	background-size:contain;
	background-position:center;
	background-repeat: no-repeat;
	background-color: #fff;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
}



/*		settings 		*/

.main-container.settings form {
	padding-top: 0px;
	position: relative;
}

.settings-menu {
	position: relative;
	z-index: 1;
	width: 100%;
	text-align: center;
	margin: 15px 0px 5px;
	display: flex;
	display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

form.settings h2 {
	font-size: 17px;
	margin-top: 20px;
}

	.controller-form h2 {
		text-align: left;
		margin: 10px 0px 20px;
	}

	menu.save-settings .btn {
		margin-top: 16px;
	}

.controller-form .row {
	padding: 0px;
}

.connection-details {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
}

.controller-settings-wrapper {
	padding: 15px;
}

	ul.detail-list {
		color: #989898;
	}

		ul.detail-list li span.label {
			width: 100%;
		}

		ul.detail-list li {
			border-bottom: 1px solid #ECECED;
			padding: 4px 0px;
		}
		ul.detail-list li:last-child {
			border-bottom: none;
		}


menu.controller-controls {
	padding: 15px 5px 5px 0px
}

	menu.controller-controls .btn {
		font-size: 10px;
	}

	.btn.label-btn::after {
		margin-left: 2px;
		margin-right: 8px;
	}




.popup.change-state ul.view-list {
	position: relative;
	height: calc(100% - 70px);
}


header.main menu .btn.menu-btn, .logo-wrapper h1 {
	height: 55px;
}



.load-page-wrapper {
	height: 55px;
	background-color: #fff;
	text-align: center;
}

	.btn.load-page-btn {
		margin-top: 10px;
	}






/* NG DIALOG ANIMATION */

@-webkit-keyframes ngdialog-slidein {
  0% {
    transform:translateX(100%);
    -webkit-transform:translateX(100%);
  }

  100% {
    transform:translateX(0);
    -webkit-transform:translateX(0);
  }
}

@keyframes ngdialog-slidein {
  0% {
    transform:translateX(100%);
    -webkit-transform:translateX(100%);
  }

  100% {
    transform:translateX(0);
    -webkit-transform:translateX(0);
  }
}

@-webkit-keyframes ngdialog-slideout {
  0% {
    transform:translateX(0);
    -webkit-transform:translateX(0);
  }

  100% {
    transform:translateX(100%);
    -webkit-transform:translateX(100%);
  }
}

@keyframes ngdialog-slideout {
  0% {
    transform:translateX(0);
    -webkit-transform:translateX(0);
  }

  100% {
    transform:translateX(100%);
    -webkit-transform:translateX(100%);
  }
}


.ngdialog {
	left: 0px;
	right: initial;
	width: 100%;
   -webkit-backface-visibility: hidden;
   -webkit-animation: ngdialog-slidein 0.25s;
   animation: ngdialog-slidein 0.25s;
}

.ngdialog.ngdialog-closing {
   -webkit-animation: ngdialog-slideout 0.25s;
   animation: ngdialog-slideout 0.25s;
}

	.ngdialog-overlay,
	.ngdialog.ngdialog-closing .ngdialog-overlay {
	  display: none;
	  -webkit-backface-visibility: hidden;
	  -webkit-animation: none;
	  animation: none;
	}



.ngdialog .ngdialog-content,
.ngdialog.ngdialog-closing .ngdialog-content {
	position:absolute;
	border: none;
	border-radius: 0px;
	background-color: #ECECED;
	-webkit-backface-visibility: hidden;
    -webkit-animation: none;
  	animation: none;
  	width:100%;
  	height:100%;
}

	.android .ngdialog .ngdialog-content,
	.android .ngdialog.ngdialog-closing .ngdialog-content {
	  	height:calc(100% + 10px);
	  	margin-top: -10px;
	}


.ngdialog .ngdialog-close {
    left: 0px;
    position: absolute;
    display: block;
    width: 60px;
    height: 57px;
    top: 15px;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
	background-image: url(/img/icons/back.svg);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	z-index: 89999;
}

/*
.close-btn {
    left: 0px;
    position: absolute;
    display: block;
    width: 60px;
    height: 57px;
    top: 16px;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
	z-index: 99999;
}
*/

