<div class="login-box">

  <div class="login-logo">
    <a href="/"><img src="/img/beep-icon-logo.svg" ng-cloak></a> 
  </div>


  <div class="login-box-body">
    <h3 class="login-box-msg">{{lang.login_title}}</h3>

    <form id="user-login-form" name="login" class="form user-form" novalidate="novalidate">
      <div class="alert alert-{{message.resultType}}" ng-show="message.show">
        <p>{{message.resultMessage}}</p>
        <a ng-if="message.verifyLink" ng-click="sendVerificationEmail()">{{lang.email_new_verification}}</a>
      </div>

      <div class="form-group has-feedback" ng-class="{'has-error':error.email}">
        
        <input type="email" class="form-control" id="name" name="email" ng-model="fields.login.email" placeholder="{{lang.email}}" autocorrect="off" autocapitalize="none" required="required" />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      
      </div>
      
      <div class="form-group has-feedback" ng-class="{'has-error':error.password}">
        
        <input type="password" class="form-control" id="password" name="password" ng-model="fields.login.password" placeholder="{{lang.password}}" required="required" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      
      </div>
      
      <div class="row">

        <div class="col-xs-12">
          <a ng-click="retreiveToken($event)" class="btn btn-primary btn-block" ng-class="{loading:loading}">{{lang.login}}</a>
        </div>
      
      </div>
    </form>
  <hr>
    <a ng-click="goToPage('/login/create?email='+fields.login.email)" title="{{lang.create_login}}">{{lang.create_login_question}}</a>
    <br>
    <br>
    <a ng-click="goToPage('/login/reminder?email='+fields.login.email)" title="{{lang.forgot_password}}">{{lang.forgot_password}}</a>

  </div>
</div>

