<section class="content-header">
  <h1>
    {{lang.dashboard_title}}
    <small>{{lang.dashboard_description}}</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">{{lang.dashboard}}</li>
  </ol> -->
</section>

<section class="content" >
	
	<div class="row">
	    <div class="col-md-6 col-sm-12 col-xs-12">
	      <div class="info-box bg-aqua">
	        <span class="info-box-icon"><i class="fa fa-server"></i></span>

	        <div class="info-box-content">
	          <span class="info-box-text">Server uptime</span>
	          <span class="info-box-number">99.8%</span>

	          <div class="progress">
	            <div class="progress-bar" style="width: 99.8%"></div>
	          </div>
	              <span class="progress-description">
	                30 days and 5 hours
	              </span>
	        </div>
	        <!-- /.info-box-content -->
	      </div>
	      <!-- /.info-box -->
	    </div>
	    <!-- /.col -->
	    <div class="col-md-6 col-sm-12 col-xs-12">
	      <div class="info-box bg-green">
	        <span class="info-box-icon"><i class="fa fa-wifi"></i></span>

	        <div class="info-box-content">
	          <span class="info-box-text">Sensors received</span>
	          <span class="info-box-number">47/50</span>

	          <div class="progress">
	            <div class="progress-bar" style="width: 94%"></div>
	          </div>
	              <span class="progress-description">
	                94% was on-line in last 7 days 
	              </span>
	        </div>
	        <!-- /.info-box-content -->
	      </div>
	      <!-- /.info-box -->
	    </div>
	    <!-- /.col -->
	    <div class="col-md-6 col-sm-12 col-xs-12">
	      <div class="info-box bg-yellow">
	        <span class="info-box-icon"><i class="fa fa-thermometer-half"></i></span>

	        <div class="info-box-content">
	          <span class="info-box-text">Average temperature</span>
	          <span class="info-box-number">28.9</span>

	          <div class="progress">
	            <div class="progress-bar" style="width: 70%"></div>
	          </div>
	              <span class="progress-description">
	                28.9 &deg;C past 7 days
	              </span>
	        </div>
	        <!-- /.info-box-content -->
	      </div>
	      <!-- /.info-box -->
	    </div>
	    <!-- /.col -->
	    <div class="col-md-6 col-sm-12 col-xs-12">
	      <div class="info-box bg-red">
	        <span class="info-box-icon"><i class="fa fa-fire"></i></span>

	        <div class="info-box-content">
	          <span class="info-box-text">Average humidity</span>
	          <span class="info-box-number">45%</span>

	          <div class="progress">
	            <div class="progress-bar" style="width: 45%"></div>
	          </div>
	              <span class="progress-description">
	                45% RH for past 7 days
	              </span>
	        </div>
	        <!-- /.info-box-content -->
	      </div>
	      <!-- /.info-box -->
	    </div>
	    <!-- /.col -->
	</div>
	
</section>
