<section class="content-header">
	<!-- <a href="#" ng-show="showMore" title="{{lang.prev}}" ng-click="prev($event)" class="btn menu-btn icon prev">{{lang.prev}}</a> -->
	<h1>{{lang.measurements}} {{lang.sensors.toLowerCase()}}</h1>
	<!-- <a href="#" ng-show="showMore" title="{{lang.next}}" ng-click="next($event)" class="btn menu-btn icon next">{{lang.next}}</a> -->
</section>

<section class="content">

	<div class="box">
	    
	    <div class="box-header with-border">
	      <div class="box-tools">
	        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa" ng-class="{'fa-plus':sensors.length > 1 && $index > 0, 'fa-minus':sensors.length <= 1 || $index == 0}"></i>
	        </button>
	        <!--button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button-->
	      </div>
	      <h3 class="box-title">{{lang.sensors}}</h3>
	    </div>
	    
	    <div class="box-body" ng-class="{'no-padding':mobile}">
	    
			<div ng-iscroll="measurement-form-wrapper" class="view-content" ng-class="{'loading':loading}">
				<div id="measurement-form-wrapper" class="iscroll-wrapper" ng-iscroll>
				    <form id="measurement-form" class="form measurement-form">
					
				    	
				    	<div class="tab-bar-wrapper" ng-class="{'mobile':mobile}">

							<!-- <label>{{ lang.Select_sensor }}</label> -->
							<div class="row">
			    				<div class="col-xs-10">
				    				<select ng-if="sensors.length > 0" ng-model="selectedSensorId" ng-change="loadData(selectedSensorId)" class="form-control">
				    					<option value="">{{ lang.Select_sensor }}...</option>
				    					<option ng-repeat="sensor in sensors" value="{{sensor.id}}" ng-selected="sensor.id == selectedSensorId">{{sensor.name}}</option>
				    				</select>
				    			</div>
				    			<div class="col-xs-2">
			    					<a class="btn btn-default" href="#!/settings"><i class="fa fa-pencil"></i> {{lang.Sensor}} {{lang.Settings}}</a>
			    				</div>
		    				</div>

							<menu class="tab-bar">
								<a class="btn" ng-click="setPeriod(period)" ng-repeat="period in periods" ng-class="{active:period==activePeriod}">{{lang[period]}}</a>
							</menu>
							
							<div class="date-nav">
								<a class="icn prev" ng-click="setPeriodIndex(1)"></a>
								<h3>{{chartTitle}}</h3>
								<a class="icn next" ng-click="setPeriodIndex(-1)" ng-class="{'disabled':periodIndex == 0}" ng-disabled="periodIndex == 0"></a>
								<!-- <a class="icn next hide-when-small" ng-click="setPeriodIndex(-1)" ng-class="{'disabled':periodIndex == 0}" ng-disabled="periodIndex == 0"></a> -->
							</div>

						</div>


				    	<div class="measurement-info-wrapper">

				    		<div ng-if="showChart">
								<div class="chart-holder">
									<canvas id="line1" class="chart chart-line" chart-data="measurementData.sensors.data" chart-dataset-override="measurementData.sensors.datasets" chart-series="measurementData.sensors.series" chart-colors="measurementData.sensors.colors" chart-options="chart.optionsSensors" ></canvas> 
								</div>

								<h3>{{lang.Sound_measurements}}</h3>
								<div class="chart-holder chart-narrow">
									<canvas id="line2" class="chart chart-line" chart-data="measurementData.sound.data" chart-dataset-override="measurementData.sound.datasets" chart-series="measurementData.sound.series" chart-colors="measurementData.sound.colors" chart-options="chart.optionsSound" ></canvas> 
								</div>

								<h3>{{lang.Sensor_info}}</h3>
								<div class="chart-holder chart-narrow">
									<canvas id="line3" class="chart chart-line" chart-data="measurementData.debug.data" chart-dataset-override="measurementData.debug.datasets" chart-series="measurementData.debug.series" chart-colors="measurementData.debug.colors" chart-options="chart.optionsDebug" ></canvas> 
								</div>
								<!-- <div class="chart-holder actuators" ng-if="showChart && showActuators">
									<canvas id="line2" class="chart chart-line" chart-data="measurementData.actuators.data" chart-dataset-override="measurementData.actuators.datasets" chart-labels="measurementData.actuators.labels" chart-series="measurementData.actuators.series" chart-colors="measurementData.actuators.colors" chart-options="chart.optionsActuators" ></canvas> 
								</div> -->
							</div>

							<div ng-if="!showChart">{{lang.no_chart_data}}</div>

						</div>

					</form>
				</div>
			</div>

		</div>

	    <div class="overlay" ng-if="loading">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
        
	 </div>

</section>
