<section class="content-header">
  <h1>
    {{lang.sensors}}
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">{{lang.hives}}</li>
  </ol> -->
</section>

<section class="content" >
	
	<div class="box">
	    <div class="box-header with-border">
	      <h3 class="box-title">{{measurementsHeader}}</h3>
	      <div class="box-tools pull-right">
	      	<a class="icn alert" ng-click="showMeasurementError()" ng-show="measurementError"></a>
	        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	        </button>
	        <!--button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button-->
	      </div>
	    </div>
	    <!-- /.box-header -->
	    <div class="box-body" ng-class="{'table-responsive':mobile, 'no-padding':mobile}">
	      
			<div>
				<ul class="sensor" ng-class="loadingSensors ? 'loading' : ''" >
					<li class="measurement" ng-repeat="sensor in sensors | filter:true:showMeasurement | orderBy:['name','unit'] track by $index" ng-click="selectSensor(sensor)">
						<span class="icn {{sensor.id}}"></span> <span class="name">{{sensor.name}}</span> <span class="value">{{sensor.value | number: 1}}</span> <span class="unit">{{sensor.unit}}</span>
					</li>
				</ul>
			</div>
	    </div>
	 </div>

	 <div class="box">
	    <div class="box-header with-border">
	      <h3 class="box-title">
	      	<span class="icn {{sensorSelected.id}}"></span> <span class="name">{{sensorSelected.name}}</span> <span class="value">{{sensorSelected.value | number: 1}}</span><span class="unit">{{sensorSelected.unit}}</span>
	      </h3>
	      <div class="box-tools pull-right">
	      	<a class="icn alert" ng-click="showMeasurementError()" ng-show="measurementError"></a>
	        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
	        </button>
	        <!--button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button-->
	      </div>
	    </div>
	    <!-- /.box-header -->
	    <div class="box-body" ng-class="{'table-responsive':mobile, 'no-padding':mobile}">
	      
			<div class="chart-holder">
				<canvas id="line" class="chart chart-line" chart-data="measurementData.data" chart-labels="measurementData.labels" chart-legend="false" chart-series="measurementData.series" chart-colors="chart.colors" chart-options="chart.options" chart-click="onClick" ></canvas> 
			</div>

	    </div>
	 </div>

</section>
