  <!-- Menu Toggle Button -->
  <a class="dropdown-toggle" data-toggle="dropdown">
    <img style="width:20px;" ng-src="/img/flags/{{locale}}.svg"/>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li class="header">{{ lang.switch_language }}</li>
    <li>
      <!-- Inner menu: contains the languages -->
      <ul class="menu">
        
        <li ng-repeat="(lang, title) in supportedLocales">
            <a rel="alternate" hreflang="{{lang}}" ng-click="switchLocale(lang)">
                <img style="width:30px;" ng-src="/img/flags/{{lang}}.svg"/>
                <span>{{ title }}</span>
            </a>
        </li>

      </ul>
    </li>
  </ul>
