<aside class="main-sidebar" ng-class="{'mobile':mobile}">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <!-- <div class="user-panel">
      <div class="pull-left image">
        <img ng-src="{{user.img}}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{user.name}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div> -->

    <!-- search form (Optional) -->
    <!--form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form-->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">

      <li class="header">MENU</li>
      <!-- Optionally, you can add icons to the links -->
      <!-- <li ng-class="{active: pageSlug == 'dashboard'}">
          <a ng-click="switchMenu($event, true, '/dashboard')">
            <i class="fa fa-dashboard"></i>
            <span ng-cloak>{{lang.dashboard}}</span>
          </a>
      </li>  -->
      <li ng-class="{active: pageSlug == 'locations'}">
          <a ng-click="switchMenu($event, true, '/locations')" data-toggle="{{ mobile ? 'offcanvas' : '' }}">
            <i class="fa fa-map-marker"></i>
            <span ng-cloak>{{lang.Locations}}</span>
          </a>
      </li>
      <li ng-class="{active: pageSlug == 'hives'}">
          <a ng-click="switchMenu($event, true, '/hives')" data-toggle="{{ mobile ? 'offcanvas' : '' }}">
            <i class="fa fa-archive"></i>
            <span ng-cloak>{{lang.Hives}}</span>
          </a>
      </li>
      <li ng-class="{active: pageSlug == 'groups'}">
          <a ng-click="switchMenu($event, true, '/groups')" data-toggle="{{ mobile ? 'offcanvas' : '' }}">
            <i class="fa fa-users"></i>
            <span ng-cloak>{{lang.Groups}}</span>
          </a>
      </li>
      <li ng-if="hasSensors" ng-class="{active: pageSlug == 'measurements'}">
          <a ng-click="switchMenu($event, true, '/measurements')" data-toggle="{{ mobile ? 'offcanvas' : '' }}">
            <i class="fa fa-line-chart"></i>
            <span ng-cloak>{{lang.measurements}}</span>
          </a>
      </li>
      <li ng-class="{active: pageSlug == 'sensors'}">
          <a ng-click="switchMenu($event, true, '/sensors')" data-toggle="{{ mobile ? 'offcanvas' : '' }}">
            <i class="fa fa-feed"></i>
            <span ng-cloak>{{lang.sensors}}</span>
          </a>
      </li>
      <li ng-class="{active: pageSlug == 'export'}">
        <a ng-click="switchMenu($event, true, '/export')" data-toggle="{{ mobile ? 'offcanvas' : '' }}">
          <i class="fa fa-file-excel-o "></i>
          <span ng-cloak>{{lang.Data_export}}</span>
        </a>    
      </li>     

      <li class="header">INFO</li>
      <li data-toggle="{{ mobile ? 'offcanvas' : '' }}">
        <a ng-click="locale == 'nl' ? loadUrl('https://beep.nl/handleiding-v2#samenwerken') : locale == 'de' ? loadUrl('https://beep.nl/anleitung#kooperieren') : loadUrl('https://beep.nl/manual-v2#cooperation')">
          <i class="fa fa-star"></i>
          <span ng-cloak>{{lang.Whats_new}}</span>
        </a>    
      </li>  
      <li data-toggle="{{ mobile ? 'offcanvas' : '' }}">
        <a ng-click="locale == 'nl' ? loadUrl('https://beep.nl/handleiding-v2') : locale == 'de' ? loadUrl('https://beep.nl/anleitung') : loadUrl('https://beep.nl/manual-v2')">
          <i class="fa fa-book"></i>
          <span ng-cloak>{{lang.Manual}}</span>
        </a>    
      </li>  
      <li data-toggle="{{ mobile ? 'offcanvas' : '' }}">
        <a ng-click="loadUrl('https://beep.nl')">
          <i class="fa fa-info-circle"></i>
          <span ng-cloak>Beep {{lang.Website}}</span>
        </a>    
      </li>   
      <li data-toggle="{{ mobile ? 'offcanvas' : '' }}">
        <a ng-click="sendMail('feedback@beep.nl',lang.Feedback_mail_header, lang.Feedback_mail_body+lang.Diagnostic_info+'host:'+host+',user_id:'+user.id+',browser:'+browser)">
          <i class="fa fa-comment"></i>
          <span ng-cloak>{{lang.Feedback}}</span>
        </a>    
      </li>   

    </ul>
    <!-- /.sidebar-menu -->

  </section>
  <!-- /.sidebar -->
</aside>