<fieldset ng-if="cat.children.length > 0 && (cat.input == 'label' || (cat.input != 'list' && cat.input != 'select' && cat.input != 'options'))" class="col-xs-12 {{ cat.name }}">
	
	<legend>{{ cat.trans[locale] || cat.name}} <a ng-if="cat.description != null || cat.source != null" ng-click="cat.showInfo = cat.showInfo ? false : true"><i class="fa fa-info-circle" style="margin-left: 10px; font-size: 18px;"></i></a></legend>

	<p ng-if="cat.showInfo">
		<em ng-if="cat.description != null">{{ cat.description }}<br></em>
		<a ng-if="cat.source != null" href="{{cat.source}}" target="_blank">{{cat.source}}</a>
	</p>

	<div ng-include="'/app/views/template/template-inspection-liebefelder_method.html?v=6'" ng-show="cat.name == 'liebefelder_method'"></div>
	<div ng-include="'/app/views/template/template-inspection-top_photo_analysis.html?v=6'" ng-show="cat.name == 'top_photo_analysis'"></div>

	<div ng-if="cat.children.length > 0 && cat.name != 'liebefelder_method'" ng-repeat="item in cat.children">
    	<checklist-input ng-if="item.input != 'label'" item="item" cols="cols"></checklist-input>
	    <checklist-fieldset ng-if="item.input == 'label'" cat="item" cols="cols"></checklist-fieldset>
    </div>

    <div ng-if="cat.children.length > 0 && cat.name == 'liebefelder_method'" ng-repeat="(i, item) in cat.children | filter: super_filter">
    	<checklist-input ng-if="item.input != 'label'" item="item" cols="cols"></checklist-input>
	    <checklist-fieldset ng-if="item.input == 'label'" cat="item" cols="cols"></checklist-fieldset>
    </div>

    <div ng-if="cat.children.length > 0 && cat.name == 'liebefelder_method'" ng-repeat="(i, item) in cat.children | filter: frame_filter">
    	<checklist-input ng-if="item.input != 'label'" item="item" cols="cols"></checklist-input>
	    <checklist-fieldset ng-if="item.input == 'label'" cat="item" cols="cols"></checklist-fieldset>
    </div>

	<checklist-input ng-if="cat.children.length == 0" item="cat" cols="cols"></checklist-input>

</fieldset>

<checklist-input ng-if="cat.input != 'label' && (cat.children.length == 0 || cat.input == 'list' || cat.input == 'select' || cat.input == 'options')" item="cat" cols="cols"></checklist-input>